apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd         
spec:
  project: default
  source:
    repoURL: https://github.com/ahmedabbas96/charts.git
    targetRevision: main
    path: kube-prometheus-stack                         
    helm:
      valueFiles:
        - ../values/values-kps.yaml                                
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring                                   
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
