argo-cd:
  dex:
    enabled: false
  notifications:
    enabled: false
  applicationSet:
    enabled: false
  server:
    extraArgs:
      - --insecure
  configs:
    params:
      server.rootpath: /argocd
      server.basehref: /argocd
